*.lock
*.bin
*.log
*.iml
*.ipr
*.iws
CREDITS-fml.txt
*.location
*.tree
*.prefs
*.launch
*bin/
*eclipse/
src/api/nei/
eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
forge-1.7.10-10.13.0.1180-changelog.txt
gradle/wrapper/gradle-wrapper.jar
gradlew.bat
LICENSE-fml.txt
gradlew.bat
gradlew.bat
*.bat
MinecraftForge-License.txt
MinecraftForge-Credits.txt
README.txt
gradlew.bat
gradlew.bat
*.index
*.gz
.classpath
.gradle/2.0/taskArtifacts/cache.properties
.project
gradle/wrapper/gradle-wrapper.properties